@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "OpenSans";
  src: url(../ttf/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Banny";
  src: url(../ttf/Banny-Round.otf);
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.container {
  max-width: 1318px;
  height: 100%;
  padding: 0 8px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: OpenSans;
  scroll-behavior: smooth;
}

p {
  font-family: OpenSans;
}

.header {
  background: url(../img/headerPhon.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.menu {
  padding-top: 64px;
  /* padding-left: 29px; */
  height: 11%;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__list object {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.menu .menu__list object:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu .menu__list .menu-item {
  display: inline-block;
}

.menu .menu__list .menu-item .menu__link {
  position: relative;
  color: #fff;
  font-size: 12px;
  font-family: OpenSans;
  padding: 0 13.4px;
  letter-spacing: 0.9px;
}

.menu .menu__list .menu-item .menu__link:last-child {
  padding-right: 0;
}

.menu .menu__list .menu-item .menu__link::after {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  height: 2px;
  background-color: #E8C300;
  content: '';
}

.menu .menu__list .menu-item .menu__link:hover::after, .menu .menu__list .menu-item .menu__link:focus::after {
  -webkit-animation: scale 0.5s;
          animation: scale 0.5s;
  width: 100%;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
}

.header__top {
  margin-top: 181px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__top .header__left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 20%;
  position: absolute;
  top: 87px;
  left: -9.3%;
}

.header__top .header__left .header__left-time p {
  color: #fff;
  font-family: OpenSans;
  font-size: 12px;
  letter-spacing: 0.2px;
}

.header__top .header__center {
  position: absolute;
  top: -27px;
  left: 19.6%;
  width: 80%;
  height: 510px;
}

.header__top .header__center .header__center-name p {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 6px;
  padding-right: 23%;
}

.header__top .header__center .header__center-title {
  position: relative;
  font-family: Banny;
  font-size: 94px;
  font-size: calc(25px + 55 * (100vw/1441));
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin-top: 21px;
  padding-bottom: 35px;
  font-weight: bold;
  width: 90%;
}

.header__top .header__center .header__center-title::after {
  position: absolute;
  content: '';
  top: 92%;
  left: 38%;
  width: 7.5%;
  border-radius: 50px;
  margin: 0 auto;
  height: 5px;
  background: #E8C300;
}

.header__top .header__center .header__center-left {
  margin: 4% 3% 0 17%;
  width: 19.5%;
  font-size: 12px;
  height: 58px;
  font-weight: bold;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.header__top .header__center .header__center-left:hover {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #E8C300;
  border: none;
}

.header__top .header__center .header__center-right {
  width: 19.5%;
  font-size: 12px;
  height: 58px;
  font-weight: bold;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.header__top .header__center .header__center-right:hover {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #E8C300;
  border: none;
}

.header__top .header__center .header__center-down {
  border: 1px solid #333333;
  width: 6%;
  height: 14%;
  background: none;
  position: absolute;
  top: 79%;
  left: 35%;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__top .header__center .header__center-down:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__top .header__center .header__center-down span {
  position: absolute;
  left: 34%;
  width: 17%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 5%;
  z-index: 10;
  background-color: #333;
  border-radius: 78px;
}

.header__top .header__center .header__center-down span::after {
  position: absolute;
  content: '';
  top: -4px;
  left: 4px;
  width: 9px;
  -webkit-transform: rotate(-89deg);
          transform: rotate(-89deg);
  height: 3px;
  z-index: 10;
  background-color: #333;
  border-radius: 78px;
  z-index: 10;
}

.header__top .header__center .header__center-down::after {
  position: absolute;
  top: 11px;
  left: 9px;
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.header__top .header__right {
  position: absolute;
  top: -16px;
  right: -2px;
}

.header__top .header__right .header__right-social__fc {
  padding-bottom: 19px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__top .header__right .header__right-social__fc:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__top .header__right .header__right-social__tw {
  -webkit-transition: 1s;
  transition: 1s;
}

.header__top .header__right .header__right-social__tw:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__top .header__right .header__right-social__ins {
  padding-top: 17px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__top .header__right .header__right-social__ins:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about {
  width: 100%;
  color: #000;
  position: relative;
  margin-top: 100px;
  padding-bottom: 60px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__wrapper .about__right {
  position: relative;
  padding: 0px 0 44.5% 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  overflow: hidden;
}

.about__wrapper .about__right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about__left .about__tilte {
  position: relative;
  margin: 167px 0 0 0;
  font-family: Banny;
  text-align: center;
  margin: 0 auto;
  padding: 167px 13px 0 0;
  font-size: 36px;
  text-transform: uppercase;
}

.about__left .about__tilte .about__title-text {
  position: relative;
}

.about__left .about__tilte ::after {
  position: absolute;
  display: block;
  width: 59.1px;
  height: 4.4px;
  top: 51px;
  left: 43.9%;
  content: '';
  background-color: #E8C300;
  border-radius: 50px;
}

.about__left .about__text {
  margin-top: 49px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 11px;
  width: 86%;
  line-height: 27px;
  letter-spacing: 0.6px;
  text-align: center;
}

.about__left .about__info {
  margin-top: 20px;
  font-size: 14px;
  width: 87%;
  text-align: center;
  margin-left: 7px;
  line-height: 24px;
}

.team {
  background: url(../img/team.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  padding-bottom: 126px;
}

.team .team__team {
  padding-top: 148px;
  text-align: center;
  font-size: 12px;
  padding-left: -17px;
  padding-right: 16px;
  letter-spacing: 6px;
}

.team .team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .team__wrapper .team__left {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  padding: 0px 0 46% 0;
  overflow: hidden;
}

.team .team__wrapper .team__left .taem__left-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -o-object-position: center;
     object-position: center;
}

.team .team__wrapper .team__right {
  margin-top: 166px;
  text-align: center;
}

.team .team__wrapper .team__right .team__tilte {
  position: relative;
  padding-left: 50px;
  font-family: Banny;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.team .team__wrapper .team__right .team__tilte ::after {
  position: absolute;
  display: block;
  width: 65.1px;
  height: 4.4px;
  top: 50px;
  margin: 0 auto;
  left: 48.9%;
  content: '';
  background-color: #E8C300;
  border-radius: 50px;
}

.team .team__wrapper .team__right .team__text-info {
  margin-top: 34px;
  font-weight: bold;
  font-size: 18px;
  padding: 0 0 0 81px;
  width: 95%;
  line-height: 27px;
  letter-spacing: 0.7px;
}

.team .team__wrapper .team__right .team__info {
  margin-top: 19px;
  font-size: 14px;
  width: 85%;
  margin-left: 77px;
  line-height: 24px;
}

.booking {
  width: 100%;
  padding-bottom: 60px;
}

.booking .booking__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking .booking__wrapper .booking__right {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
  padding: 0px 0 46% 0;
  overflow: hidden;
}

.booking .booking__wrapper .booking__right .booking__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.booking .booking__wrapper .booking__table {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  padding-right: 10px;
  position: relative;
}

.booking .booking__wrapper .booking__table .booking__table-title {
  font-family: Banny;
  font-size: 34px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin-top: 17.5%;
  font-weight: bold;
  width: 100%;
  padding-right: 7px;
  color: #000;
  text-align: center;
  position: relative;
  padding-bottom: 61px;
}

.booking .booking__wrapper .booking__table .booking__table-title::after {
  position: absolute;
  display: block;
  width: 9%;
  height: 4.4px;
  top: 55%;
  left: 45%;
  content: '';
  background-color: #E8C300;
  border-radius: 50px;
}

.booking .booking__wrapper .booking__table .booking__table__form {
  height: 60px;
  width: 39.5%;
  background-color: #E5E5E5;
  margin-bottom: 10px;
  margin-left: 53px;
  padding-left: 20px;
  border-radius: 5px;
  margin-right: -46px;
}

.booking .booking__wrapper .booking__table .booking__btn__form {
  width: 80%;
  height: 60px;
  background: none;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  margin-left: 56px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background-color: #E8C300;
}

.booking .booking__wrapper .booking__table .booking__btn__form:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.booking .booking__bottom {
  margin-top: 100px;
}

.booking .booking__bottom .booking__bottom-text {
  text-align: center;
  color: #333;
  margin-top: -5px;
  margin-left: -61px;
  letter-spacing: 0.1px;
  font-size: 11.9px;
}

.specialties {
  background: url(../img/specialties.png) no-repeat center;
  background-size: cover;
  width: 100%;
  padding-bottom: 45px;
}

.specialties .specialties__title {
  text-align: center;
  padding-top: 45px;
  font-size: 12px;
  letter-spacing: 6.2px;
  text-transform: uppercase;
}

.specialties .slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.specialties .slider .slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.specialties .slider .slider__inner .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.specialties .slider .slider__inner .slider__item .slider__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0 50% 0;
  position: relative;
  overflow: hidden;
}

.specialties .slider .slider__inner .slider__item .slider__image .slider__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.specialties .slider .slider__inner .slider__item .slider__content {
  text-align: center;
  margin-top: 120px;
}

.specialties .slider .slider__inner .slider__item .slider__content .slider__title {
  position: relative;
  font-family: Banny;
  font-size: calc(24px + 7 * (100vw/1441));
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 3px 0 4% 61px;
  font-weight: bold;
  width: 75%;
}

.specialties .slider .slider__inner .slider__item .slider__content .slider__title::after {
  position: absolute;
  content: '';
  top: 88%;
  left: 49%;
  width: 13.3%;
  border-radius: 50px;
  margin: 0 auto;
  height: 5px;
  background: #E8C300;
}

.specialties .slider .slider__inner .slider__item .slider__content .slider__info {
  margin-top: 11px;
  margin-left: 59px;
  display: inline-block;
  width: 89%;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
}

.specialties .slider .slider__inner .slider__item .slider__content .slider__text {
  display: inline-block;
  margin-top: 19px;
  width: 87%;
  margin-left: 55px;
  line-height: 24px;
}

.specialties .slider .dots__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialties .slider .dots__wrapper .dot {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 7px;
  background: #fff;
  cursor: pointer;
}

.specialties .slider .dots__wrapper .active {
  background: #000;
}

.stock {
  padding-bottom: 100px;
}

.stock .stock__title {
  position: relative;
  font-family: Banny;
  font-size: calc(14px + 20 * (100vw/1441));
  letter-spacing: 1.7px;
  text-transform: uppercase;
  padding-right: 22px;
  margin-top: 19px;
  padding-bottom: 21px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #000;
}

.stock .stock__title::after {
  position: absolute;
  content: '';
  top: 90%;
  left: 47%;
  width: 4.5%;
  border-radius: 50px;
  margin: 0 auto;
  height: 5px;
  background: #E8C300;
}

.stock .stock__text {
  margin-top: 21px;
  margin-left: 27%;
  display: inline-block;
  width: 44%;
  padding-left: 2px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.7px;
  color: #000;
}

.stock .stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 52px;
  margin-left: 228px;
}

.stock .stock__list .stock__items {
  height: 47px;
  border-right: 1px solid #000;
  padding: 15px 41px 0 40px;
  width: 11%;
}

.stock .stock__list li:first-child {
  padding-right: 37px;
  padding-left: 30px;
}

.stock .stock__list li:last-child {
  border: none;
  padding-left: 40px;
  padding-right: 0;
}

.stock .stock__list .stock__link {
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  font-family: "OpenSans";
}

.stock .stock__wrappper-soupe {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.stock .stock__wrappper-soupe .stock__items {
  width: 33.3%;
  margin-bottom: 31px;
}

.stock .stock__wrappper-soupe .stock__items:nth-child(3n+3) {
  padding-left: 49px;
}

.stock .stock__wrappper-soupe .stock__items .stock__items-name {
  font-weight: bold;
  color: #000;
  padding-top: 2px;
  font-size: 18.5px;
  letter-spacing: 0.3px;
}

.stock .stock__wrappper-soupe .stock__items .stock__items-recept {
  color: #333;
  padding-top: 3px;
  font-size: 12px;
}

.stock .stock__wrappper-pizza {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.stock .stock__wrappper-pizza .stock__items {
  width: 33.3%;
  margin-bottom: 31px;
}

.stock .stock__wrappper-pizza .stock__items:nth-child(3n+3) {
  padding-left: 49px;
}

.stock .stock__wrappper-pizza .stock__items .stock__items-name {
  font-weight: bold;
  color: #000;
  padding-top: 2px;
  font-size: 18.5px;
  letter-spacing: 0.3px;
}

.stock .stock__wrappper-pizza .stock__items .stock__items-recept {
  color: #333;
  padding-top: 3px;
  font-size: 12px;
}

.stock .stock__wrappper-pasta {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.stock .stock__wrappper-pasta .stock__items {
  width: 33.3%;
  margin-bottom: 31px;
}

.stock .stock__wrappper-pasta .stock__items:nth-child(3n+3) {
  padding-left: 49px;
}

.stock .stock__wrappper-pasta .stock__items .stock__items-name {
  font-weight: bold;
  color: #000;
  padding-top: 2px;
  font-size: 18.5px;
  letter-spacing: 0.3px;
}

.stock .stock__wrappper-pasta .stock__items .stock__items-recept {
  color: #333;
  padding-top: 3px;
  font-size: 12px;
}

.stock .stock__wrappper-desert {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.stock .stock__wrappper-desert .stock__items {
  width: 33.3%;
  margin-bottom: 31px;
}

.stock .stock__wrappper-desert .stock__items:nth-child(3n+3) {
  padding-left: 49px;
}

.stock .stock__wrappper-desert .stock__items .stock__items-name {
  font-weight: bold;
  color: #000;
  padding-top: 2px;
  font-size: 18.5px;
  letter-spacing: 0.3px;
}

.stock .stock__wrappper-desert .stock__items .stock__items-recept {
  color: #333;
  padding-top: 3px;
  font-size: 12px;
}

.stock .stock__wrappper-wine {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.stock .stock__wrappper-wine .stock__items {
  width: 33.3%;
  margin-bottom: 31px;
}

.stock .stock__wrappper-wine .stock__items:nth-child(3n+3) {
  padding-left: 49px;
}

.stock .stock__wrappper-wine .stock__items .stock__items-name {
  font-weight: bold;
  color: #000;
  padding-top: 2px;
  font-size: 18.5px;
  letter-spacing: 0.3px;
}

.stock .stock__wrappper-wine .stock__items .stock__items-recept {
  color: #333;
  padding-top: 3px;
  font-size: 12px;
}

.stock .stock__wrappper-beer {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.stock .stock__wrappper-beer .stock__items {
  width: 33.3%;
  margin-bottom: 31px;
}

.stock .stock__wrappper-beer .stock__items:nth-child(3n+3) {
  padding-left: 49px;
}

.stock .stock__wrappper-beer .stock__items .stock__items-name {
  font-weight: bold;
  color: #000;
  padding-top: 2px;
  font-size: 18.5px;
  letter-spacing: 0.3px;
}

.stock .stock__wrappper-beer .stock__items .stock__items-recept {
  color: #333;
  padding-top: 3px;
  font-size: 12px;
}

.stock .stock__wrappper-drinks {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.stock .stock__wrappper-drinks .stock__items {
  width: 33.3%;
  margin-bottom: 31px;
}

.stock .stock__wrappper-drinks .stock__items:nth-child(3n+3) {
  padding-left: 49px;
}

.stock .stock__wrappper-drinks .stock__items .stock__items-name {
  font-weight: bold;
  color: #000;
  padding-top: 2px;
  font-size: 18.5px;
  letter-spacing: 0.3px;
}

.stock .stock__wrappper-drinks .stock__items .stock__items-recept {
  color: #333;
  padding-top: 3px;
  font-size: 12px;
}

.stock .active {
  display: none;
}

.event {
  background: url(../img/eventback.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 100px;
}

.event .event__title {
  text-align: center;
  color: #fff;
  padding-top: 63px;
  height: 70px;
  font-size: 11px;
  font-weight: bold;
  padding-right: 22px;
  letter-spacing: 7px;
}

.event .event__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.event .event__wrapper .event__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
  padding: 0 0 43% 0;
  overflow: hidden;
}

.event .event__wrapper .event__image .event__left {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.event .event__wrapper .event__image .event__right {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.event .event__bottom-text {
  text-align: center;
  margin-top: 19px;
  font-size: 11px;
  letter-spacing: 0.48px;
  padding-right: 21px;
}

.image .image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image .image__wrapper img {
  width: 25%;
}

.contact {
  padding-bottom: 100px;
}

.contact .contact__title {
  position: relative;
  font-family: Banny;
  font-size: calc(10px + 1.73491vw);
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 100px;
  color: black;
  padding-bottom: 35px;
  font-weight: bold;
  text-align: center;
  padding-right: 25px;
}

.contact .contact__title::after {
  position: absolute;
  content: "";
  top: 74%;
  left: 46.8%;
  width: 4.8%;
  border-radius: 50px;
  margin: 0px auto;
  height: 5px;
  background: #e8c300;
}

.contact .contact__text {
  color: #000;
  text-align: center;
  padding-top: 10px;
  width: 43%;
  margin-left: 27.7%;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.7px;
}

.contact .contact__form {
  margin-top: 49px;
}

.contact .contact__form .contact__form-inp {
  width: 32.3%;
  height: 58px;
  background-color: #E5E5E5;
  border-radius: 5px;
  padding-left: 20px;
  margin-right: 6px;
}

.contact .contact__form textarea {
  margin-top: 10px;
  background-color: #E5E5E5;
  border-radius: 5px;
  width: 98.2%;
  padding: 22px 0 0 18px;
  letter-spacing: 0.3px;
  height: 120px;
  outline: none;
  resize: none;
}

.contact .contact__form .contact__form-img {
  width: 48.9%;
}

.contact .contact__form button {
  background: #E8C300;
  text-align: center;
  border-radius: 5px;
  margin-top: 9px;
  width: 49.2%;
  font-size: 12.5px;
  color: #fff;
  padding-top: 4px;
  height: 62px;
}

.map {
  background: url(../img/map.png) no-repeat center;
  background-size: cover;
  height: 52%;
}

.footer {
  background: #000;
  padding-bottom: 34px;
}

.footer .footer__text {
  text-align: center;
  padding-top: 47px;
  font-size: 13.8px;
  color: #E5E5E5;
}
