.booking{
    width: 100%;
    padding-bottom: 60px;
    .booking__wrapper{
        display: flex;
        .booking__right{
            position: relative;
            flex: 0 0 46%;
            padding: 0px 0 46% 0;
            overflow: hidden;
            .booking__image{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .booking__table{
            flex-wrap: wrap;
            margin-top: 100px;
            padding-right: 10px;
            position: relative;
            .booking__table-title{
                font-family: Banny;
                font-size: 34px;
                letter-spacing: 1.3px;
                text-transform: uppercase;
                margin-top: 17.5%;
                font-weight: bold;
                width: 100%;
                padding-right: 7px;
                color: #000;
                text-align: center;
                position: relative;
                padding-bottom: 61px;
            }
            .booking__table-title::after{
                position: absolute;
                display: block;
                width: 9%;
                height: 4.4px;
                top: 55%;
                left: 45%;
                content: '';
                background-color: #E8C300;
                border-radius: 50px;
            }
            .booking__table__form{
                height: 60px;
                width: 39.5%;
                background-color: #E5E5E5;
                margin-bottom: 10px;
                margin-left: 53px;
                padding-left: 20px;
                border-radius: 5px;
                margin-right: -46px;
            }
            .booking__btn__form{
                width: 80%;
                height: 60px;
                background: none;
                color: #fff;
                border-radius: 4px 4px 4px 4px;
                margin-left: 56px;
                transition: 0.9s;
                background-color: #E8C300;
                    &:hover{
                        transition: 1.2s;
                        transform: scale(0.9);
                      
                    }
            }
        }
    }
    .booking__bottom{
        margin-top: 100px;
        .booking__bottom-text{
            text-align: center;
            color: #333;
            margin-top: -5px;
            margin-left: -61px;
            letter-spacing: 0.1px;
            font-size: 11.9px;
        }
    }
}


@media (max-width: 728px){
    .booking{
        .booking__wrapper{
            flex-direction: column;
            .booking__left{

            }
            .booking__right{
                    padding: 0;
            }
        }
        .booking__bottom{
                width: 100%;
                .booking__bottom-text {
                    margin-left: 0;
                    font-size: 10px;
                    // font-size:calc(5px+10*(100vh/960));
            }
        }
    }
}

@media (max-width:460px){
    .booking{
        .booking__wrapper {
            .booking__left{
                .booking__table {
                    .booking__table__form{
                        margin-left: 17px;
                        margin-right: 0px;
                        width: 42%;
                    }
                    .booking__btn__form{
                        width: 90%;
                        margin-left: 15px;
                    }
                }
            }

        } 
    }
}

@media (max-width:394px){
    .booking{
        .booking__wrapper {
            .booking__left{
                .booking__table {
                    .booking__table__form{
                    }
                    .booking__btn__form{
                        width: 92%;
                    }
                }
            }

        } 
    }
}