@import "_nullstyle" ;

@font-face {
    font-family: "OpenSans";
    src: url(../ttf/OpenSans-Regular.ttf),
   }
@font-face {
    font-family: "Banny";
    src: url(../ttf/Banny-Round.otf),
   }

@keyframes scale{
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(0);
    }
  
}
.container{
    max-width: 1318px;
    height: 100%;
    padding: 0 8px;
    margin: 0 auto;
}

body{
    color: #fff;
    font-family: OpenSans;
}
p{
    font-family: OpenSans;
}

@import "_header" ;

@import "_about";

@import "_team";

@import "_booking";

@import "_specialties";

@import "_stock";

@import "_event";

@import "_image";

@import "_contact";

@import "_map";

@import "_footer";